$("#tag-list").html("<%= j(render partial: 'owner/menus/tag', locals:{tags: @tags}) %>")
//<% @tags.each do |tag| %>
//  $("#tag-list").append(`<p class="inline-block" id="api-tag-name-${tag}"><span class="menu-tag api-menu-tag">${tag} <a>x</a></span></p>`)
//  $("#api-tag-name-"+tag).append(`<input type="hidden" value="${tag}" name="tag[]"></input>`)
//<%= puts tag %>


//<% end %>