<div class="contents master-admins-top">
  <nav>
    <ul>
      <li><%= link_to '会員一覧・編集', master_users_path %></li>
      <li><%= link_to '店舗一覧・編集・新規登録', master_restaurants_path %></li>
      <li><%= link_to 'タグ一覧・編集・新規登録', master_tags_path %></li>
    </ul>
  </nav>
</div>
