// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

// 共通
.contacts-new {

  h2, p {
    text-align: center;
  }

  h3 {
    margin-top: 30px;
  }

  #contacts-new__email-form {
    width: 100%;
    max-width: 400px;
  }
  #contacts-new__message-form {
    width: 100%;
    max-width: 400px;
    height: 100px;
  }

  &__form {
    max-width: 400px;
    margin: 0 auto;

    p {
      text-align: unset;
    }

    li {
      text-align: unset;
    }

    .form-group {

      input {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }
}

// スマホ
@media (max-width: $media-sp-max) {
}

// スマホ・タブレット共通
@media (max-width: $media-tb-max) {
}

// タブレット
@media (min-width: $media-tb-min) and (max-width: $media-tb-max) {
}

// PC・タブレット共通
@media (min-width: $media-tb-min) {
}

// PC
@media (min-width: $media-pc-min) {
}

