// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";


// 共通

// スマホ
@media (max-width: $media-sp-max) {

  .contacts-new {
    div {
      margin: 20px 0;
    }
  }

  #contact_message {
    width: 100%;
    height: 100px;
  }

  .contact-submit {
    text-align: center;
  }
}

// タブレット
@media (min-width: $media-tb-min) and (max-width: $media-tb-max) {
}

// PC・タブレット共通
@media (min-width: $media-tb-min) {
}

// PC
@media (min-width: $media-pc-min) {
}

